



.nav-link:hover{
   color: #106EEA;
}

.welcome {
   
    position: relative;
    height: 60vh;
   
 }
 .content {
    position: absolute;
    top: 100px;

    
    
 }
 
 #background {
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
 }









 


.activities{
    padding: 50px;
  
   
}




.activities .activitys{
    margin-bottom: 10px;
}
.activities .activity{

    padding: 20px 10px 3px 23px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 0;
    height: 100%;
    
}

.activities .activity i{
    font-size: 1.7rem;
    color: #106EEA;
    margin-bottom: 10px;
  
 
}

.about{
    background-color: #F6F9FE;
    padding: 20px;
}


.aboutbtn{
    background-color: #ecf2fc;
    color: #106EEA;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    

}

.about h3{
    font-weight: 700;
}

.aboutbtn:hover{
    background-color: #F6F9FE;
    color: #106EEA;
}
.about .rightabout{
    margin-top: 60px;
}
.about h4{
    font-weight: 700;
}


.about .rightabout .italic{
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 50px;
  
}
.about .rightabout .downp{
    margin-top: 50px;
  font-size: 0.9rem;
  margin-bottom: 50px;
}

.about i{
    color: #106EEA;
   padding: 12px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
}


.skills{
    padding-top:40px ;
    margin-bottom: 80px;
}
.skills p{
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0;
}
.numbers{
    margin-bottom: 40px;
}

.skills .progress, .progress-stacked{
    border-radius: 0;
    height: 0.7rem;
}
.numbers .number1 , .numbers .number2,.numbers .number3 ,.numbers .number4  {
    background-color: #F6F9FE;
    border: none;
    padding: 20px;
    position: relative;
    margin-bottom: 35px;
}


.numbers .number1:after , .numbers .number2:after ,.numbers .number3:after ,.numbers .number4:after{
    content:"";

    background-color: #fff;
    position: absolute;
    top: -30px;
    left:42%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
}

.numbers .number1:before{
    font-family: 'Font Awesome 5 Free'; /* Replace with the actual font family */
    content: '\f118'; 
    color: #fff;
    font-size: larger;
    background-color: #106EEA;
    position: absolute;
    top: -30px;
    left:43%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    padding: 8px;
    
}

.numbers .number2:before{
    font-family: 'Font Awesome 5 Free'; /* Replace with the actual font family */
    content: '\f119'; 
    color: #fff;
    font-size: larger;
    background-color: #106EEA;
    position: absolute;
    top: -30px;
    left:43%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    padding: 8px;
    
}
.numbers .number3:before{
    font-family: 'Font Awesome 5 Free'; /* Replace with the actual font family */
    content: '\f115'; 
    color: #fff;
    font-size: larger;
    background-color: #106EEA;
    position: absolute;
    top: -30px;
    left:43%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    padding: 8px;
    
}
.numbers .number4:before{
    font-family: 'Font Awesome 5 Free'; /* Replace with the actual font family */
    content: '\f111'; 
    color: #fff;
    font-size: larger;
    background-color: #106EEA;
    position: absolute;
    top: -30px;
    left:43%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    padding: 8px;
    
}

.clients{
    background-color: #F6F9FE;
    padding: 20px;
    margin-bottom: 40px;
}

.clients img{
    width: 100px;
}

.services{
    padding: 20px;
  
  
   
}

.services .servicys{
    margin-bottom: 10px;

}
.services .servicy{

    padding: 40px;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid #ecf2fc;
    height: 100%;
    width: 90%;
    
}


.services .servicy i{
    background-color: #F6F9FE;
    width: 0 auto;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #106EEA;
  
}
.services .servicy p{
    font-size: 0.7rem;
}


.faq .accordion{
    background-color: #F6F9FE;
    --bs-accordion-btn-bg:#F6F9FE;
 
}
.faq .accordion-item {
   border: none;
   font-size: 0.7rem;
   background-color: #F6F9FE;
   border-bottom: #dedddd92 1px solid;
  }

  .faq .accordion-button::before{
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
   margin-right: 20px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: 15px;
    transition: var(--bs-accordion-btn-icon-transition);
    
  }

  .faq .accordion-button::after{
    display: none;
  }
  .faq{
    background-color: #F6F9FE;
    padding: 20px;
    margin-bottom: 50px;
  }


  .team{
    background-color: #F6F9FE;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .team .card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.team .card img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   
}

.team  .card p{
    color: #b2b2b2;
    font-size: 0.8rem;
    text-align: start;
    padding-left: 20px;
    
}



.team  .card h4{
    margin-top: 10px;
    text-align: start;
    padding-left: 20px;
}


.pricing{
    margin-bottom:40px ;
}

.pricing .card{
    width: 90%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 20px;
}

.pricing .head{
    background-color: #f3f3f3;
    padding: 15px;
    font-weight: 500;
    color: #595959;
}

.pricing .middle{
    padding: 10px 2px;
}


.pricing .money{
    color: #106EEA;
    font-size: 2rem;
    font-weight: 700;
}
.pricing .month{
    color: #b2b2b2;
}

.pricing .linethrough{
    text-decoration: line-through;
    color: #d0d0d0;
}



.pricing .card-footer button{
    color: #fff;
    font-weight: 500;
    background-color: #106EEA;
    width:  120px;
}

.pricing .headcolored{
    background-color: #106EEA;
    color: #fff;
}
.ss{

    overflow: hidden;
    position: relative;
  }

.banner {
    background: #106EEA;
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
    padding: 2px;

    color: #fff;
    top: 2rem;
    right: -5rem;
    text-align: center;
    width: 100%;
   
    
  }
  @media only screen and (max-width: 767px) {
    .banner {
        background: #106EEA;
        transform: rotate(45deg);
        position: absolute;
        z-index: 1;
        padding: 4px;
        top: 30px;
        left: 150px;
        color: #fff;
        width: 100%;
        text-align: center;
       
        
      }
  }

  @media only screen and (min-width: 992px) and (max-width:1211px){
    .banner {
        background: #106EEA;
        transform: rotate(45deg);
        position: absolute;
        z-index: 1;
        padding: 4px;
        top: 20px;
        left: 95px;
        color: #fff;
        width: 70%;
        text-align: center;
       
        
      }
  }
  

  

  .contact{
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .contact .contacts .contacta{
    margin-bottom: 10px;
}

.contacts{
    margin-bottom: 10px;
}
.contact .contacta{
    padding: 20px 10px 3px 23px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 0;
    height: 100%;
   
}


.contact .contacta i{
    font-size: 1.4rem;
    color: #106EEA;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50px;
    height: 50px;
   margin: 0 auto;
    padding-top: 13px;
    border: 1px dotted #106EEA ;
    margin-bottom: 10px;

 
}

.contact h4{
    color: #595959;
}

.contact .contacts input , .contact .contacts textarea{
    padding: 10px 20px;
    border-radius: 0;
    margin-bottom: 10px;
}


.contact .contacts textarea{
    margin-bottom: 20px;
}
.contact .contacts button{
    width: 180px;
    font-size: 1.2rem;
    
}


.join {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F6F9FE;
    margin-bottom:40px;
}
.join form { display: flex; }
.join input[type=text] { 
    flex-grow: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border: 0;

}

.join input[type=button]{
    color: #fff;
    background-color: #106EEA;
    width: 100px;
    border-radius: 0;
}

.colorgrey{
    color: #696969;
}

footer .icon{
    background-color: #106EEA;
    padding: 10px;
    border-radius: 4px;
 
}

footer{
    padding: 50px 0;
}
.lastfooter{
    background-color: #F6F9FE;
    padding: 15px;
}

.portolio .active{
    color: #106EEA;
    font-weight: 600;
}
.portolio{
    margin-bottom: 50px;
}





.slideshow .carousel-caption{
    color: #000;
}

.slideshow .indicators {
width: 10px;
height: 10px;
border-radius: 50%;

}
.slideshow .active{
    background-color: #106EEA;
}

.slideshow .testmonialimg{
    height: 100px;
    width: 100px;
    
}


.slideshow .back{
    height: 500px;
  
    
 }



 .carousel-item {
    position: relative;
  }
  
  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.667); /* Change the color and opacity as needed */
  }
  
  .carousel-item .back {
    display: block;
    max-width: 100%;
    
  }